body {
	
}

p.class1 {
	color:orange;
	font-size: x-large;
}

#id1 {
	color:green;
	font-family: Tahoma;
	font-size: 40px;
	font-style: italic;
	text-decoration: line-through;
}

#id2 {
	color:blue;
	font-family: Impact;
	font-size: 40px;
	text-decoration: overline;
}

#id3 {
	color:red;
	font-family: playbill;
	font-size: 350%;
	text-decoration: underline;
}

p.class2 {
	color:blue;
	font-weight: bolder;
	font-variant: small-caps;
}

h3 {
	color: red;
	}