body {
	background-color: lightgray;
}
p.class1 {
	padding: 15px;
}
#id1 {
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
}
#id2 {
	border: 1px solid red;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 20px;
}
#id3 {
	border: 1px solid blue;
	margin-left: 40px;
	margin-right: 50px;
	margin-top: 30px;
}
p.class2 {

}

h3 {
	color: red;
	}